* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h4 ,p{
    margin: 0;
}

.container {
    width: 550px;
    margin: 0 auto;
    -webkit-box-shadow: 1px 3px 55px -7px rgba(31,24,31,1);
    border-radius: 5px;
}

.nav {
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 7px;
    padding: 20px 0;
}

.nav>p {
    font-weight: 500;
}

main {
    display: flex;
    gap: 19px;
    padding: 18px 40px;
    color: #2B283A;
}
section{
    margin: 20px 0;
}

.main--photo {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
}

.main--map {
    display: flex;
    align-items: center;
    gap: 4px;
}

.main--map>a {
    margin-left: 8px;
    text-decoration: none;

    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;

    color: #918E9B;
}

.main--map>h4 {

    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    font-weight: 400;

}

.main--sidebar {
    margin-top: 20px;
}
.main--sidebar > h4{
    margin-top: 20px;
    font-size: 10px;
    font-weight: 700;
}
.main--sidebar > p{
    margin-top: 9px;
    font-weight: 400;
font-size: 10.24px;
line-height: 150%;
}



